<style>
  #pad{
    padding: 30px;
  }
  #form{
    width: 350px;
    height: 400px;
    border: 2px;
    border-style: groove;
    border-radius: 20px;
  }
  
</style>
<div id="pad" class="container-fluid">
  <div id="pad" class="container-fluid">
    <div id="form"  class="container-fluid">
      <h2>Login</h2>
      <hr>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>

      <div class="container-fluid">

        <div class="field">
          <%= f.label :email %>
          <%= f.email_field :email, autofocus: true, hide_label: true, placeholder: "Digite seu nome" %>
        </div>

        <div class="field">
          <%= f.label :Senha %>
          <%= f.password_field :password, autocomplete: "off", hide_label: true, placeholder: "Digite sua senha" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :Lembrar %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit "Login", class: "btn btn-success" %>
        </div>
      </div>

      <% end %>
      <%= render "users/shared/links" %>
    </div>
  </div>
</div>
