<!DOCTYPE html>
<html lang="pt_BR">
<head>
  <title>Parrot - Divulgação de eventos </title>


  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

   <!--script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
   <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script -->
  <style>
    /* Remove the navbar's default margin-bottom and rounded borders */
    .navbar {
      margin-bottom: 0;
      border-radius: 0;
    }

    /* Add a gray background color and some padding to the footer */
    footer {
      background-color: #0e0101;
      padding: 25px;
    }

  .carousel-inner img {
      width: 100%; /* Set width to 100% */
      margin: auto;
      min-height:200px;
  }

  /* Hide the carousel text when the screen is less than 600 pixels wide */
  @media (max-width: 600px) {
    .carousel-caption {
      display: none;
    }
  }

  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand"> <%=image_tag "logo.png" %> </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Inicio</a></li>
        <li><a href="#">Sobre</a></li>
        <li><a href="#">Contato</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Cadastre-se</a></li>
      </ul>
    </div>
  </div>
</nav>

<div class="inner cover" background-image: asset-data-url('./assets/images/imagem.png')>

            <h1 class="cover-heading">Anuncie seu evento</h1>
            <p class="lead">O parrot é uma ferramenta gratuita para anunciar seu evento!</p>
            <p class="lead">
              <a href="#" class="btn btn-lg btn-default">Criar evento</a>
            </p>
          </div>

<!--<div>
<%= image_tag 'imagem.jpg' , class:"img-responsive"%>

      <div class="item active">
          <div class="form-group" role="search">
              <input type="search"/>
              <p> barra de pesquisa </p>
          </div>
          <button type="submit" class="btn btn-default">
            Pesquisar
          </button
      </div>
</div>
-->


<!--
        <! div class="item active">
        <%= image_tag "imagem.jpg" , class:"img-responsive" %>
        <div class="carousel-caption">
          <h3>Seu Evento aqui</h3>
          <p>Descrição Evento</p>
        </div>
      </div>
-->



<div class="container text-center">
  <h3>Outros Eventos</h3><br>
  <div class="row">
    <div class="col-sm-4">
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Evento 1</p>
    </div>

    <div class="col-sm-4">
      <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
      <p>Evento 2</p>
    </div>

    <div class="col-sm-4">
       <img src="http://placehold.it/150x80?text=IMAGE" class="img-responsive" style="width:100%" alt="Image">
       <p>Evento 3</p>
    </div>
  </div>
</div><br>

<footer class="container-fluid text-center">
  <p>Desenvolvido por alunos de TADS </p>
</footer>

</body>
</html>
