
<style>

#corpo-top{
  background-image:url("assets/imagem.jpg");
  opacity: 0.9;
  background-size: cover;
  height: 400px;
  text-align: center;
}
#corpo-top h1 ,p{
  color: #000000;
  margin: 0;

}

#banner-top{
  height: 100%;
  min-height: 100%;

  /* habilita o flex nos filhos diretos */
  display: -ms-flex;
  display: -webkit-flex;
  display: flex;

  /* centraliza na vertical */
  -ms-align-items: center;
  -webkit-align-items: center;
  align-items: center;

  /* centraliza na horizontal */
  -ms-justify-content: center;
  -webkit-justify-content: center;
  justify-content: center;
}
</style>


<body>

<div id="corpo-top" class="container-fluid">

          <div id="banner-top" >
            <div>
            <h1 class="cover-heading">Anuncie seu evento agora!</h1>
              <p class="lead">O parrot é uma ferramenta gratuita para anunciar seu evento! <br> Experimente agora!</p>
              <p class="btn btn-lg btn-default">
                <%if  current_user.present?%>
                    <%= link_to 'Criar evento', new_event_path%>
                <%else%>
                <a > <%=link_to'Criar evento', new_user_session_path %> </a>
                <%end%>
              </p>
            </div>
        </div>
</div>
<div class="row">
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag "evento1.jpg"%>
        <div class="caption">
          <h3>Evento 1</h3>
          <p>Dia : <br> Horário <br> Local: </p>
          <p><a href="#" class="btn btn-primary" role="button">Mais informações</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag "evento2.jpg" %>
        <div class="caption">
          <h3>Evento 2</h3>
          <p> Dia : <br> Horário <br> Local: </p>
          <p><a href="#" class="btn btn-primary" role="button">Mais informações</a></p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 col-md-4">
      <div class="thumbnail">
        <%= image_tag "evento3.jpg"%>
        <div class="caption">
          <h3>Evento 3</h3>
          <p>Dia : <br> Horário <br> Local:   </p>
          <p><a href="#" class="btn btn-primary" role="button">Mais informações</a> </p>
        </div>
      </div>
    </div>
</div>
</body>
