
<div class='nested-fields'>
		<div class="field">
			<%= f.label :nome %>
			<%= f.text_field :nome ,class:"form-control" %>

			<%= f.label :contato %>
			<%= f.text_field :contato , class:"form-control" %>
		</div>
	<%= link_to_remove_association "Remover" , f,class:"btn btn-warning" %>
	<br> <br>
</div>
