<p id="notice"><%= notice %></p>

<p>
    <%= image_tag @event.photo.url(:medium) %>
</p>

<p>
  <strong>Nome evento:</strong>
  <%= @event.nome_evento %>
</p>

<p>
  <strong>Data evento:</strong>
  <%= @event.data_evento %>
</p>

<p>
  <strong>Descrição:</strong>
  <%= @event.descrição %>
</p>

<%if @event.user == current_user%>
<%= link_to 'Edit', edit_event_path(@event) %> |
<%end%>
<%= link_to 'Back', events_path %>
