<p id="notice"><%= notice %></p>
<style >
  #img-cont{
  padding: 4px;
  width: auto;
  border: 3px;
  border-style: groove;
  }
  p{
    margin: 0px;
  }
  #conteudo{



    padding: 30px;
  }
  #centt{
    padding: 20px;
    border: 1px;
    border-radius: 25px;
    border-style: dotted;
  }
  li{
  list-style-type: none;
}

</style>

<h2>Informações do Evento</h2><br>
<div id="conteudo" class="container-fluid">
  <div class="container-fluid" id="centt">
      <div id="img-cont" class="col-md-4">

            <%= image_tag @event.photo.url(:medium) %>

      </div>
      <div class="container-fluid">
        <div class="container">
            <div class="col-md-4">
                <p>
                  <strong>Nome evento:</strong>
                  <%= @event.nome_evento %>
                </p>
                  <br>
                <p>
                  <strong>Data evento:</strong>
                  <%= @event.data_evento %>
                </p>
                  <br>
                <% if @event.horario != nil %>
                  <p>
                    <strong>Horario:</strong>
                    <%= @event.horario %>
                  </p>
                <%end%>
                  <br>
                <p>
                  <strong>Descrição:</strong>
                  <%= @event.descrição %>
                </p>
                  <br>
                <% if @event.valor != nil %>
                  <p>
                    <strong>Valor: R$</strong>
                    <%= @event.valor %>
                  </p>
                <%end%>

                <% if @event.attractions != '' %>

                		<% @event.attractions.each do |atracao| %>
                    <ul>
                        <li><strong> Atração: </strong><%= atracao.nome %></li>
                        <% if atracao.contato != nil %>
                        <li><strong>Contato: </strong><%= formata_telefone(atracao.contato) %></li>
                        <%end%>
                    </ul>
                    <%end%>
                <%end%>
            </div>
            <div class="col-md-4">


                <p>
                  <strong>Espaço:</strong>
                  <%= @event.nome_espaco %>
                </p>
                  <br>
                <p>
                  <strong>Cidade:</strong>
                  <%= @event.cidade %>
                </p>
                  <br>
                <p>
                  <strong>Estado:</strong>
                  <%= @event.estado %>
                </p>
                <br>
                <p>
                  <strong>Logradouro:</strong>
                  <%= @event.logradouro %>
                </p>
                  <br>
                <% if @event.numero != nil %>
                  <p>
                    <strong>Numero:</strong>
                    <%= @event.numero %>
                  </p>
                  <br>
                <%end%>
                <p>
                  <strong>Bairro:</strong>
                  <%= @event.bairro %>
                </p>
                  <br>
                <% if @event.referencia != '' %>
                  <p>
                    <strong>Referencia:</strong>
                    <%= @event.referencia %>
                  </p>
                <%end%>
            </div>
        </div>
      </div>
  </div>
</div>
<div class="container-fluid" id="conteudo">
  <%if @event.user == current_user%>
  <%= link_to 'Editar', edit_event_path , class: "btn btn-default"%> |
  <%end%>
  <%= link_to 'Voltar', events_path , class: "btn btn-default" %>
</div>
