<%= form_for(event_place) do |f| %>
  <% if event_place.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event_place.errors.count, "error") %> prohibited this event_place from being saved:</h2>

      <ul>
      <% event_place.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :city %>
    <%= f.text_field :city %>
  </div>

  <div class="field">
    <%= f.label :estado %>
    <%= f.text_field :estado %>
  </div>

  <div class="field">
    <%= f.label :logradouro %>
    <%= f.text_field :logradouro %>
  </div>

  <div class="field">
    <%= f.label :numero %>
    <%= f.text_field :numero %>
  </div>

  <div class="field">
    <%= f.label :bairro %>
    <%= f.text_field :bairro %>
  </div>

  <div class="field">
    <%= f.label :referencia %>
    <%= f.text_field :referencia %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
