<p id="notice"><%= notice %></p>

<h1>Event Places</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>City</th>
      <th>Estado</th>
      <th>Logradouro</th>
      <th>Numero</th>
      <th>Bairro</th>
      <th>Referencia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @event_places.each do |event_place| %>
      <tr>
        <td><%= event_place.name %></td>
        <td><%= event_place.city %></td>
        <td><%= event_place.estado %></td>
        <td><%= event_place.logradouro %></td>
        <td><%= event_place.numero %></td>
        <td><%= event_place.bairro %></td>
        <td><%= event_place.referencia %></td>
        <td><%= link_to 'Show', event_place %></td>
        <td><%= link_to 'Edit', edit_event_place_path(event_place) %></td>
        <td><%= link_to 'Destroy', event_place, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Event Place', new_event_place_path %>
