<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @event_place.name %>
</p>

<p>
  <strong>City:</strong>
  <%= @event_place.city %>
</p>

<p>
  <strong>Estado:</strong>
  <%= @event_place.estado %>
</p>

<p>
  <strong>Logradouro:</strong>
  <%= @event_place.logradouro %>
</p>

<p>
  <strong>Numero:</strong>
  <%= @event_place.numero %>
</p>

<p>
  <strong>Bairro:</strong>
  <%= @event_place.bairro %>
</p>

<p>
  <strong>Referencia:</strong>
  <%= @event_place.referencia %>
</p>

<%= link_to 'Edit', edit_event_place_path(@event_place) %> |
<%= link_to 'Back', event_places_path %>
