 <!DOCTYPE html>
<html lang="pt_BR">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title><%= content_for?(:title) ? yield(:title) : "Parrot - Divulgação de eventos" %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For third-generation iPad with high-resolution Retina display: -->
    <!-- Size should be 144 x 144 pixels -->
    <%= favicon_link_tag 'logo.ico', :type => 'image/png', :sizes => '144x144' %>

    <!-- For iPhone with high-resolution Retina display: -->
    <!-- Size should be 114 x 114 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-114x114-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '114x114' %>

    <!-- For first- and second-generation iPad: -->
    <!-- Size should be 72 x 72 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-72x72-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png', :sizes => '72x72' %>

    <!-- For non-Retina iPhone, iPod Touch, and Android 2.1+ devices: -->
    <!-- Size should be 57 x 57 pixels -->
    <%= favicon_link_tag 'apple-touch-icon-precomposed.png', :rel => 'apple-touch-icon-precomposed', :type => 'image/png' %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'logo.ico', :rel => 'shortcut icon' %>

    <%= javascript_include_tag "application" %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js" type="text/javascript"></script>
    <![endif]-->
    <style>
        /* Remove the navbar's default margin-bottom and rounded borders */
        .userfunc li{
          color: ##0edb21;
        }
        body{
          overflow-x: hidden;
          margin: 0;
        }
        .navbar {
          margin-bottom: 0;
          border-radius: 0;
        }

        /* Add a gray background color and some padding to the footer */
        footer{
          width: 100%;
          background-color: #1b1b1b;
          padding: 20px;
          position: relative;
	        bottom: 0;

        }

      #logo{
          padding: 5px;
      }

      .carousel-inner img {
          width: 100%; /* Set width to 100% */
          margin: auto;
          min-height:200px;
      }

      /* Hide the carousel text when the screen is less than 600 pixels wide */
      @media (max-width: 600px) {
        .carousel-caption {
          display: none;
        }
      }
      #conteudo-footer{
        -ms-align-items: center;
        -webkit-align-items: center;
        align-items: center;
        -ms-justify-content: center;
        -webkit-justify-content: center;
        justify-content: center;
      }
      #conteudo-footer  p{
        color: #fcfcfc;
      }
      h4{
        color: #fcfcfc;
      }
      div#corpo-centro{
        text-align: center;

      }
    </style>
  </head>
  <body>

    <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a id="logo" class="navbar-brand">  <%=image_tag "logo.png" %> </a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
          <ul class="nav navbar-nav">
            <li class="active"> <%= link_to "Inicio", index_path%> </li>
            <li><%= link_to "Sobre", sobre_path%></li>
            <li><%= link_to "Contato", new_contato_path %></li>
            <li><%= link_to "Eventos", events_path %></li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if current_user.present? %>
              <li><a class="fa fa-user" aria-hidden="true" >&nbsp;  Olá,&nbsp; <%= current_user.nome %></a></li>
              <%if current_user.admin == true%>
                	<li> <%= link_to'Administração', rails_admin_path %></li>
              <%else%>
                  <li><%= link_to edit_user_registration_path(@user) do %> <i class="fa fa-wrench" aria-hidden="true"></i> Minha Conta <% end %> </li>
              <%end%>
              <li><%= link_to new_event_path(@event) do %> <i class="fa fa-plus-square-o" aria-hidden="true"></i> Novo evento <% end %> </li>
              <li><%= link_to(destroy_user_session_path(@event), :method => :delete) do%><i class="fa fa-sign-out" aria-hidden="true"></i> Sair <% end %></li>
            <%else%>
              <li> <%= link_to new_user_session_path(@user) do %> <i class="fa fa-sign-in"></i> Login <% end %> </li>
              <li><%= link_to new_user_registration_path(@user) do %> <i class="fa fa-sign-in"></i> Cadastre-se <% end %> </li>
            <%end%>
          </ul>



          <!-- Campo de Busca-->
          <form class="navbar-form navbar-left">
            <div class="form-group">
              <div class="form-group">

              </div>
            </div>
            <!--<button type="submit" class="btn btn-default">Buscar</button>-->
          </form>

        </div>
      </div>
    </nav>
      <div id="corpo-centro">
        <div class="">

          <%= yield %>
        </div>
      </div>

    <footer >
         <div id="conteudo-footer">
      	 	<div class="container">
      		 	<div class="row">
      		 		<div class="col-md-4">
      		 			<h4 id="sobretitle">Sobre</h4>
      		 			<p>O parrot é uma aplicação desenvolvida por alunos do curso de Análise e Desenvolvimento de sistemas do Instituto Federal do Piauí Campus Floriano </p>
      		 		</div>
              <div class="col-md-4">
                <p>
                  <h4>Redes Sociais</h4>
                  <a href="https://www.facebook.com"><i class="fa fa-facebook"></i></a>
                  <a href="https://www.twitter.com"><i class="fa fa-twitter"></i></a>
                  <a href="https://www.instagram.com"><i class="fa fa-instagram"></i></a>
                  <a href="https://www.tumblr.com"><i class="fa fa-tumblr"></i></a>
                </p>
              </div>
              <div class="col-md-4">
                  <h4> Parrot <i class="fa fa-copyright" aria-hidden="true"></i> &nbsp 2016</h4>
                <p> Desenvolvido por alunos de Tenologia em Análise e Desenvolvimento de Sistemas </p>
              </div>
      		 	</div><! --/row -->
      	 	</div><! --/container -->
      	 </div>
    </footer>
  </body>
</html>
